<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/green-g-100.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block sidebar_style %}
      {% if sidebar %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_sidebar.css') }}">
        <script src="{{ url_for('static', filename='js/nav_sidebar.js') }}" defer></script>
      {% endif %}
    {% endblock sidebar_style %}
    {% block extrastyle %}{% endblock extrastyle %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <!-- Container -->
    <div id="container">
      {% block header %}{% endblock header %}

      <!-- main -->
      <div class="main" id="main">
        {% block sidebar %}
          {% if sidebar == 'filter_sidebar' %}
            {% include 'include/filter_sidebar.html' %}
          {% elif sidebar == 'menu_sidebar' %}
            {% include 'include/menu_sidebar.html' %}
          {% endif %}
        {% endblock sidebar%}
        <div id="content-start" class="content" tabindex="-1">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class=messagelist>
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div id="content" class="{% block coltype %}colM{% endblock %}">
            <!-- Content -->
            {% block content %}{% endblock content %}
            <!-- END Content -->
            <br class="clear">
          </div>
          <div id="footer"></div>
        </div>
      </div>
      <!-- END main -->
    </div>
    <!-- END Container -->
  </body>
</html>