{% extends "base_admin.html" %}

{% block extrastyle %}<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">{% endblock %}
{% block bodyclass %} change-form{% endblock %}

{% block content %}
<div id="content-main">
  <form method="post" id="{{ model_name }}_form">{{ form.hidden_tag() }}
    <div>
    {% if form.errors %}
        <p class="errornote">Пожалуйста, исправьте ошибки ниже.</p>
    {% endif %}
    {% include 'include/fieldset.html' %}
    {% include 'include/submit_row.html' %}
    </div>
  </form></div>
{% endblock %}
